<div class="bg-light py-4"></div>
<div id="header" class="bg-danger">
  <div class="container">
    <div class="row no-gutters">
      <a class="col-3" routerLink="/">
        <img src="assets/img/logo.png" alt="Online Food Ordering" class="logo" />
      </a>
      <div class="col-4 py-4 pr-md-2 pr-0">
        <ng-select2 id="drpDistrict" [data]="optionData" [options]="optionsForDistrict"></ng-select2>
      </div>
      <div class="col-5 py-4 pl-md-2 pl-2">
        <div class="input-group mb-2">
          <input type="text" class="form-control" placeholder="Restorant veya yemek arayın..." />
          <div class="input-group-append">
            <button class="input-group-text bg-warning text-white">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="breadCrumb" class="bg-light mb-4 pt-5 py-3">
  <div class="container" *ngIf="sharedService.isViewBreadCrumb">
    <h1 class="h3">{{titleService.getTitle()}}</h1>
  </div>
</div>
<div id="content">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <app-login-menu></app-login-menu>
        <app-shopping-cart></app-shopping-cart>
      </div>
      <div class="col-9">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
<div id="footer" class="bg-light">
  <div class="container py-4 d-flex justify-content-between align-items-center">
    <a href="#" class="d-inline-block btn btn-warning">Üye İş Yerimiz Olun</a>
    <a routerLink="/change-city" class="d-inline-block btn btn-warning">Şehir Değiştir</a>
  </div>
</div>