<div class="row" *ngIf="authService.isAuthenticated">
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <strong>Kayıtlı Semtlerim</strong>
            </div>
            <div class="list-group list-group-flush scroller">
                <a href="#" class="list-group-item list-group-item-action" *ngFor="let address of addressService.addresses">
                    <h4 class="h6">{{address.title}}</h4>
                    <span class="text-nowrap three-dots">{{address.fullAddress}}</span>
                </a>
            </div>
            <div class="card-body bg-light font-size-sm">
                <a href="#">Yeni Adres Ekle!</a>
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="card">
            <div class="card-header">
                <strong>Son Siparişlerim</strong>
            </div>
            <div class="card-body scroller">
            </div>
            <div class="card-body bg-light font-size-sm text-right">
                <a href="#">Tüm Siparişlerim</a>
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="!authService.isAuthenticated">
    <div class="col-12">
        <h1 class="h3">Herhangi bir banka kartınızın olmaması umrumuzda değil!</h1>
        <p>Alışveriş politikamız kapıda ödeme üzerine kurulmuştur. Bu sebepten, sepetinizi doldurun ve istediğiniz ödeme yöntemini kendiniz
            seçerek doyun.</p>
    </div>
</div>